@using Orchard.ContentManagement
@using Orchard.Core.Title.Models
@model Outercurve.Projects.ViewModels.ViewCLAViewModel
@{
    var title = Model.Project.As<TitlePart>().Title;
    var link = Html.ItemDisplayLink(title, Model.Project);
    var validText = Model.IsValid ? "NOT VALID" : "Valid";
}
<h1>@Model.CLASigner - @link</h1>
<h2>@validText</h2>

@if (Model.IsValid) {
    <dl>
        <dt>Valid on:</dt>
        <dd>@Model.ValidDate</dd>
        <dt>Foundation Signer:</dt>
        <dd>@Model.FoundationSigner</dd>
    </dl>
}