@model Outercurve.Projects.ViewModels.CLASigning.StillNeedCompanyViewModel

<p>Thanks for signing the CLA for @Model.Project. We still need your employer to sign.</p> 
<p>We've sent an email to @Model.Contact at @Model.Email. @Model.Contact will need to click the link (@Model.CompanySigningLink) and follow the instructions.</p>
<p>Once your @Model.Contact we'll email you to notify you that the CLA is valid.</p>