@using Outercurve.Projects.Helpers
@model Outercurve.Projects.ViewModels.QuickUserViewModel

@{
    Layout.Title = T("Quick Create User").ToString();
 
    
}

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <div class="form-horizontal container-fluid"> 
        <div class="row ">
     
            <div class="control-group">
                @Html.ControlLabelFor(m => m.Email, T("Email Address"))
                <div class="controls">
                    @Html.ControlTextBoxFor(model => model.Email)
                    @Html.ControlValidationMessageFor(m => m.Email, null)
                     
                </div>
            </div>
            
            
            <div class="control-group">
                @Html.ControlLabelFor(m => m.FirstName, T("First Name"))
                <div class="controls">
                    @Html.ControlTextBoxFor(model => model.FirstName)
                    @Html.ControlValidationMessageFor(m => m.FirstName, null)
                     
                </div>
            </div>
            
             
            <div class="control-group">
                @Html.ControlLabelFor(m => m.LastName, T("Last Name"))
                <div class="controls">
                    @Html.ControlTextBoxFor(model => model.LastName)
                    @Html.ControlValidationMessageFor(m => m.LastName, null)
                     
                </div>
            </div>
   
           
            <input type="submit" class = "button primaryAction"/>
        </div>
    </div>
}